.main {
  display: flex;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: -5px;
  justify-content: center;

  .wrap-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: -65px;
    z-index: 1;
    width: 95%;

    .what-we-stand-for {
      display: flex;
      flex-direction: column;
      padding-bottom: 150px;

      .stand-for-header {
        text-align: center;
        padding-top: 2.5%;

        h1 {
          font-size: 45px;
          color: #3c4858;
          padding: 1% 0 5% 0;
        }
      }

      .stand-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        column-gap: 50px;
        margin: 1% 10%;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          // margin: 0 15%;
        }

        img {
          height: 60px;
          width: 60px;
        }
      }
    }

    .about {
      display: flex;
      flex-direction: row;
      padding: 0 150px;
    }
  }
}
